.object_container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    .sale_card {
        width: 240px;
        height: 280px;
        background-color: #31304d;
        margin: 10px;
        box-sizing: border-box;
        border: 1px solid #31304d;

        &:hover {
            border: 1px solid white;
            box-sizing: border-box;
        }

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        div {
            padding: 3px;
        }
    }

    .sold_card {
        width: 240px;
        height: 280px;
        background-color: #31304d;
        margin: 10px;
        box-sizing: border-box;
        border: 1px solid #31304d;

        &:hover {
            border: 1px solid white;
            box-sizing: border-box;
        }

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        div {
            padding: 3px;
        }
    }

    .card_name {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 30px;

        span {
            font-size: 20px;
            display: block;
            font-size: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .card_info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 25px;

        span {
            font-size: 16px;
        }
    }
}

.object-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 20px 0;

    img {
        width: 300px;
        object-fit: contain;
    }

    div {
        display: flex;
        height: 300px;
        flex-direction: column;
        justify-content: space-between;

        .info-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            label {
                font-size: 14px;
                padding-top: 10px;
            }

            p {
                display: block;
                align-items: center;
                width: 230px;
                margin: 0;
                height: 40px;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 8px;
                padding-bottom: 8px;
                box-sizing: border-box;
                background-color: #161A30;
                font-size: 14px;

                display: block;
                white-space: nowrap;
                overflow-y: auto;
                text-overflow: ellipsis;
                line-height: 24px;
                white-space: normal;
                word-wrap: break-word;
                overflow-wrap: break-word;
            }
        }
    }
}

.buy-button {
    margin-top: 20px;
    height: 40px;
    width: 100%;
    border: none;
    background-color: #4a4974;
    box-sizing: border-box;
    color: white;

    &:hover {
        background-color: #4a4974;
        border: 1px solid white;
    }
}

.info-line-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    label {
        font-size: 14px;
        padding-top: 10px;
    }

    p {
        // display: flex;
        align-items: center;
        width: 100%;
        margin: 0;
        // height: 40px;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        background-color: #161A30;
        font-size: 14px;

        max-height: 80px;
        overflow-y: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        line-height: 24px;
        height: auto;
        box-sizing: border-box;
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}

.modal {
    width: 600px;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #31304d;
    box-sizing: border-box;
}